.twArea {
    margin: 0 0 10px 0;   
    overflow: auto;
}
.twInput {
    float: left; 
    margin: 5px 5px 0 0;
    border-collapse: collapse;
}
.twInput tr {
    margin: 0;
    padding: 0;
}
.twInput td {
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}
.twInput textarea {
    margin: 0;
    padding: 5px;
    border: 0;
    overflow: auto;
}
.twShortcuts {
    float: right;
    margin-left: 5px;    
}
.twStatus {
    padding: 0;
    color: gray;
    height: 3ex;
}
.twStatus span {
    margin: 0 5px;
}
.twStatus #error {
    float: left;
}
.twStatus #counter {
    float: right;
}
.error {
    color: red;
}
